@font-face {
    font-family: 'Ubuntu-Bold';
    src: url("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Ubuntu-Medium';
    src: url("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

@mixin activeBorderBackground {
    background-color: $Magnolia;
    border: 1px solid $Marine-blue;
}

$font-regular: 'Ubuntu-Regular', sans-serif;
$font-bold: 'Ubuntu-Bold', sans-serif;
$font-medium: 'Ubuntu-Medium', sans-serif;

// Primary

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

// Neutral

$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Magnolia: hsl(217, 100%, 97%);
$Alabaster: hsl(231, 100%, 99%);
$White: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: $font-regular;
}

.container-background {
    width: 100%;
    height: 100%;
    background-color: $Magnolia;
    position: absolute;
    z-index: -2;

    svg {
        display: block;
        width: 100%;
        margin: 0;
        position: fixed;
        z-index: -1;
    }

}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .container-btn {
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        .step {
            display: none;
        }
        svg {
            display: none;
        }

        .active {
            background-color: $Pastel-blue;
            color: #000;
            border: 1px solid $Pastel-blue;
        }

        div {
            width: 2rem;
            height: 2rem;
            display: grid;
            place-content: center;
            border-radius: 50%;
            border: 1px solid $White;
            color: $White;
            font-family: $font-medium;
        }
    }
}

.container-form {
    background-color: $White;
    height: max-content;
    margin: 0 1rem;
    padding: 1.5rem;
    padding-bottom: 1rem;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0 0 16px 2px #00000031;

    h1 {
        font-size: 1.8rem;
        font-family: $font-bold;
        color: $Marine-blue;
    }

    p {
        margin-top: 1rem;
        line-height: 1.5;
        color: $Cool-gray;
        margin-bottom: 1rem;
    }

    label {
        display: block;
        font-family: $font-medium;
        color: $Marine-blue;
        font-size: .8rem;
        margin-bottom: 0.2rem;
    }

    input[type='text'],
    input[type='email'],
    input[type='tel'] {
        width: 100%;
        padding: .5rem;
        font-family: $font-medium;
        font-size: 1rem;
        color: $Marine-blue;
        border: 1px solid $Light-gray;
        margin-bottom: 1rem;
        border-radius: 5px;

        &:focus {
            outline: 1px solid $Marine-blue;
            color: $Marine-blue;
        }
        &::placeholder {
            font-family: $font-regular;
        }

        // &:last-child {
        //     margin-bottom: 0;
        // }
    }
}

.btn-container {
    background-color: $White;
    margin-top: auto;

    div {
        padding: 1rem;
        display: flex;
        box-shadow: 0 -16px 16px 2px rgba(0, 0, 0, 0.065);
    }

    button {
        margin-left: auto;
        padding: .8rem 1rem;
        color: $White;
        background-color: $Marine-blue;
        font-family: $font-medium;
        border: none;
        border-radius: 5px;
    }

    .btn-confirm {
        background-color: $Purplish-blue;
        padding: 0.8rem 1.2rem;
        font-size: .9rem;
    }

    .btn-back {
        background-color: $White;
        color: $Cool-gray;
        margin-right: auto;
        margin-left: 0;
        font-family: $font-medium;
        font-size: 1rem;
        padding-left: 0;
    }
}

.container-select-plan {

    input[type='radio'] {
        display: none;
    }

    input[type='radio']+label {
        width: 100%;
        margin-bottom: 0;
        padding: 1rem;
        display: flex;
        gap: 1rem;
        border: 1px solid $Light-gray;
        border-radius: 10px;
        margin-bottom: .8rem;
    }

    input[type='radio']:checked+label {
        @include activeBorderBackground
    }

    .sub-details {
        h2 {
            font-family: $font-medium;
            font-size: 1rem;
        }

        p {
            margin: 0;
            margin-top: .3rem;
        }

        span {
            display: inline-block;
            margin-top: .3rem;
        }
    }

    .container-toggle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: $Magnolia;
        border-radius: 10px;
        padding: .1rem 0;
        margin-top: 1.5rem;

        svg {
            fill: $Marine-blue;
        }

        .bold {
            font-family: $font-medium;
            font-size: 1rem;
            letter-spacing: -.5px;
        }

        .non-bold {
            font-family: $font-medium;
            color: $Cool-gray;
            font-size: 1rem;
            letter-spacing: -.5px;
        }
    }

}

.container-addons {
    .active {
        @include activeBorderBackground
    }

    label {
        display: grid;
        grid-template-columns: 1.2rem 1fr auto;
        grid-template-rows: auto auto;
        border: 1px solid $Light-gray;
        border-radius: 10px;
        padding: .8rem 1rem;
        column-gap: 1rem;
        row-gap: .2rem;
        margin-bottom: .6rem;

        input {
            // display: block;
            // padding: 1rem;
            appearance: none;
            width: 1.3rem;
            height: 1.3rem;
            place-self: center;
            grid-row: span 2;
            border: 1px solid $Light-gray;
            border-radius: 4px;

            &:checked {
                appearance: none;
                background-color: blue;
                background-image: url('/assets/images/check-mark.svg');
            }
        }
    }




    h2 {
        font-size: .9rem;
        font-family: $font-regular;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    p {
        grid-column: 2/3;
        grid-row: 2/2;
        margin: 0;
        line-height: 1.2;
    }

    span {
        color: $Purplish-blue;
        place-self: center;
        grid-column: 3/4;
        grid-row: 1/3;
    }
}

.container-end {
    background-color: $Magnolia;
    padding: 1rem;
    border-radius: 10px;

    .container-plan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .5rem;

        p {
            margin: 0;
            color: $Marine-blue;
            font-family: $font-bold;
        }

        div {
            span {
                font-family: $font-bold;
                color: $Marine-blue;
            }

            p {
                text-decoration: underline;
                font-family: $font-regular;
                color: $Cool-gray;
            }
        }
    }

    hr {
        border: none;
        border-top: 1px solid $Light-gray;
    }

    .container-addons {
        div {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            span {
                color: $Cool-gray;
            }

            p {
                color: $Marine-blue;
                font-family: $font-medium;
            }
        }
    }
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    span {
        color: $Cool-gray;
    }

    p {
        color: $Purplish-blue;
        font-family: $font-bold;
        font-size: 1.2rem;
    }
}

.confirmed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;

    svg {
        height: 60px;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: 1.6rem;
        font-family: $font-bold;
    }

    p {
        text-align: center;
        margin-top: .6rem;
    }
}

@media (min-width: 768px) {
    .container-form {
        width: 60%;
        margin: 1rem auto 0;
    }
}

@media (min-width: 1440px) {
    .container-background {
        display: none;
        svg {
            display: none;
        }
    }
    .desktop {
        background-color: $Magnolia;
        height: 100vh;
        display: grid;
        place-content: center;        
    }
    .container {
        width: 55rem;
        background-color: $White;
        border-radius: 10px;
        padding: 1rem;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
        box-shadow: 0 0 16px 1px #00000031;
        .container-btn {
            background-image: url(/assets/images/bg-sidebar-desktop.svg);
            background-size: cover;
            height: auto;
            width: 17rem;
            border-radius: 10px;
            grid-row: span 2;
            flex-direction: column;
            position: relative;
            justify-content: flex-start;
            align-items: start;
            gap: 2rem;
            padding-left: 2rem;
            padding-top: 3rem;
            .steps-container {
                width: max-content;
                border: none;
                border-radius: none;
                display: grid;
                grid-template-columns: 1fr max-content;
                column-gap: 1rem;
                .step {
                    display: flex;
                    flex-direction: column;
                    width: auto;
                    text-transform: uppercase;
                    border: none;
                    border-radius: none;
                    span {
                        color: $Cool-gray;
                        font-size: .8rem;
                        font-family: $font-regular;
                    }
                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
        .container-form {
            box-shadow: none;
            width: 80%;
            input {
                padding: .7rem 1rem;
            }
            .container-select-plan {
                display: grid;
                grid-template-columns: repeat(3, 8rem);
                grid-template-rows: auto auto;
                column-gap: 1rem;
                margin-top: 2rem;
                .container-toggle {
                    grid-column: 1/4;
                    svg:hover {
                        cursor: pointer;
                    }
                }
                div {
                    label {
                        flex-direction: column;
                        gap: 2rem;
                        &:hover {
                            cursor: pointer;
                            border: 1px solid $Marine-blue;
                        }
                    }
                }
            }
            .container-addons {
                margin-top: 2rem;
                label{
                    padding: 1rem 1.5rem;
                    column-gap: 1.5rem;
                    margin-bottom: 1rem;
                    &:hover {
                        cursor: pointer;
                        border: 1px solid $Marine-blue;
                    }
                }
                input {
                    padding: 0;
                }
            }
            .container-end {
                margin-top: 2rem;
                .container-plan {
                    div {
                        p:hover {
                            cursor: pointer;
                            color: $Marine-blue;
                        }
                    }
                }
            }
        }
        .btn-container {
            width: 70%;
            margin: auto auto 0;
            div {
            box-shadow: none;
            padding: 0;
            margin-bottom: 1rem;
            .btn-confirm {
                padding: 1rem 2rem;
                &:hover {
                    background-color: $Pastel-blue;
                }
            }
            .btn-back:hover {
                cursor: pointer;
                color: $Marine-blue;
            }
            button:last-child{
                padding: .8rem 1.8rem;
                &:hover {
                    cursor: pointer;
                    background-color: $Purplish-blue;
                }
            }
            
            }
        }
    }

    .container-form {
        width: 60%;
        margin: 1rem auto 0;
    }
}